.person {
    display: flex;
    margin-bottom: 50px;
}
.person ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.person ul li strong {
    display: inline-block; 
    width:75%;

}


.rund {
    max-width: 240px;
    max-height: 240px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    
  }
  