#chapter1 p {
  margin: 0px;
}

#chapter1 img {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#chapter2a {
  grid-column: 2;
}

#chapter2a img {
  width: 215px;
  float: right;
  margin: 2px 0px 0px 10px;
}

form {
  border: 1px solid #e1e1e1;
  padding: 0px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

form h3 {
  text-align: center;
}

form table {
  margin-left: auto;
  margin-right: auto;
}

tr td:first-of-type {
  min-width: 100px;
}

input, select {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  tr td {
    display: flex;
  }

  tr:last-of-type td:last-of-type {
    display: flex;
    float: left;
  }
}
